/*****************************
  section1: featured services
*****************************/

.featured__client {
  padding-bottom: 10px;
}

.featured__container {
}

.featured__title{
  color: #85ccd9;
  font-family: Cabin;
  text-align: left;
}

/***********************
  section 2: services
***********************/

.services {
  background-color: #e5ebeb;
}

.services__list {
  list-style: none;
  padding: 0;
}

.services__list-item {
  color: #16445c;
}

.services__container {  
  padding-bottom: 20px;
}

.work__img-text{
  display: flex;
  margin: 10px 0;
}

.work__text {
  margin-left: 5px;
}

.fa-long-arrow-right {
  color: #ff592f;
}

i.fa.fa-long-arrow-right {
  display: contents;
}

/************************
  section 3: our methods
*************************/
.methods__container {
  display: flex;
  flex-direction: column;
}

/******************
*  Responsive
*****************/

@media screen and (min-width: 1024px) {

  .title-left {
    text-align: left;
  }

  .uppercase{
    text-transform: uppercase;
  }
  
  /**************
    Section 1:
  ***************/

  .featured__container {
    display: flex;
    width: 100%;
  }

  .featured__items{
    padding: 5px;
  }

  .featured__title{
    text-align: left;
  }


  .more-container {
    text-align: left;
  }

  /**************
  *  section 2:
  ***************/

  .serve__container {
    display: flex;
    width: 100%;
  }

  .services__container {
    flex-grow: 1;
    flex-basis: 0;
    width: calc(1024px/3);
    padding: 0 10px 40px 10px;
  }

  /*********************
  * Section 3: methods
  *********************/
  .methods__container {
    display: flex;
    width: 100%;
    flex-direction: row;
  }

  .methods__layout{
    display: block;
  }

  .methods__title{
    text-align: left;
  }
}
